---
name: _prepare
on:
  workflow_call:
    inputs:
      builder_ref:
        description: Git ref to checkout of build-emacs-for-macos
        required: false
        type: string
        default: "v0.6.39"
    secrets:
      TAP_REPO_TOKEN:
        description: Personal Access Token for Homebrew Tap repo
        required: true

jobs:
  emacs-builder:
    # Use oldest version of macOS to ensure emacs-bulder binary is compatible
    # with later versions of macOS.
    runs-on: macos-11
    steps:
      - name: Checkout build-emacs-for-macos repo
        uses: actions/checkout@v3
        with:
          repository: jimeh/build-emacs-for-macos
          ref: ${{ inputs.builder_ref }}
          path: builder
      - name: Store builder Git SHA
        run: |
          git rev-parse HEAD > emacs-builder-git-sha.txt
        working-directory: builder
      - name: Upload builder git SHA artifact
        uses: actions/upload-artifact@v3
        with:
          name: emacs-builder-git-sha
          path: builder/emacs-builder-git-sha.txt
          if-no-files-found: error
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('builder/**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - name: Build emacs-builder tool
        run: make build
        working-directory: builder
      - name: Upload emacs-builder artifact
        uses: actions/upload-artifact@v3
        with:
          name: emacs-builder
          path: builder/bin/emacs-builder
          if-no-files-found: error
